// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/scss/font-awesome';

.movies-wrapper{
  .col-md-5, .description {
    padding: 0;
  }

  .description {
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
  }

  .card-header, .metadata {
    background: none;
    padding: 0;
    position: relative;
    border-style: none;
  }

  .metadata {
    font-size: 16px;
    text-align: center;
    i, p {
      float: left;
    }
    p {
      margin-top: 0;
      margin-left: 10px;
    }
    i {
      color: #ff9d00;
      margin-top: 5px;
      margin-left: 1px;
    }
  }

  .card-img {
    object-fit: cover;
    height: 350px;
  }

  .card-body {
    position: relative;
    color: #9FA7A9;
    .card-title {
      margin-top: 15px;
      font-weight: 600;
      color: #414345;
    }
    .card-text {
      margin-top: 8px;
      font-weight: 600;
      line-height: 30px;
    }
  }

  .card, .trailer-preview {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    &:hover {
      box-shadow: 0 8px 18px rgba(0, 0, 0, 0.10), 0 8px 8px rgba(0, 0, 0, 0.18);
    }
  }

  .card {
    border-radius: 8pt;
    border-style: none;
    overflow: hidden;
    transform: scale(0.8);
    margin-top: -60px;
  }

  .trailer-preview {
    background-color: #ff3d49;
    position: absolute;
    top: -46px;
    right: 24px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: white;
    font-size: 36px;
    text-align: center;
    padding-top: 13px;
    &:hover, &:disabled, &:active, &:focus {
      background-color: #ff3d49;
      color: white;
    }
    i {
      margin-left: 5px;
    }
  }
}

.carousel-inner{
  .carousel-item{
    img{
      height: 500px;
      object-fit: cover;
    }
  }
}